.landing {
  overflow: hidden;
  position: relative;
}

.bgvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  background-color: #333;
}

.arrow {
  cursor: pointer;
  position: relative;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 35px;
  height: 35px;
  background: #99e3ff;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTgnPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEyOSAxMjkiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiLz4KICA8L2c+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.situada span,
.reunioes span {
  font-size: 20px;
  color: white;
}

.montserrat {
  font-family: 'Open Sans', sans-serif;
}

.locationsub {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: white;
}

.loja {
  color: white;
  font-size: 20px;
}

.acacia {
  margin-bottom: 9vh;
}
.acacia span {
  color: #fcd116;
  font-size: 5.8vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 9vh;
  padding: 4px;
}
.situada {
  margin-bottom: 50px;
}

.reunioes {
  margin-bottom: 15vh;
}

@media only screen and (max-width: 600px) {
  .landing {
    background-image: url('/images/bgm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }
  .loja {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .loja span {
    color: #332c23;
  }

  .acacia {
    margin-bottom: 5vh;
  }

  .acacia span {
    color: #fcd116;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 9vh;
    padding: 4px;
  }

  .situada span,
  .reunioes span,
  .locationsub{
    color: #332c23;
  }
}
