.mainDiv {
  border-radius: 10px 10px 0 0;
  background-color: #eee;
}

.cardLarge {
  width: 45%;
}

.title {
  color: #333;
  font-variant: small-caps;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #b1ddf1;
  background-color: #b1ddf1;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: right;
}

.btn {
  border-radius: 5px;
  background-color: #0072c5;
  color: white;
  padding-bottom: 2px;
  cursor: pointer;
}

.btn:hover {
  color: #b1ddf1;
}

@media only screen and (min-width: 768px) {
}
