.scrollmenu * {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.scrollmenu ul {
  background-color: #0072c5;
  overflow-x: auto;
  white-space: nowrap;
  list-style: none;
  padding: 0 14px;
}

@media only screen and (max-width: 600px) {
  .scrollmenu ul:after {
    pointer-events: none;
    content: "";
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(
      right,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 0%
    );
    background: -webkit-gradient(
      right top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 1)),
      color-stop(50%, rgba(255, 255, 255, 0))
    );
    background: -webkit-linear-gradient(
      right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    background: -o-linear-gradient(
      right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    background: -ms-linear-gradient(
      right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }
}

.scrollmenu li {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 11px 0;
}

.scrollmenu li a {
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 0;
  transition: 0.2s;
}

.scrollmenu ul span.separator {
  color: white;
  margin: 0 14px 0 14px;
}

.scrollmenu a:not(:first-child):before {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}
.scrollmenu a:hover {
  color: #ccc;
}
